$color-a-0: #fcfd19;
$color-a-1: #F2F2F2;
$color-a-2: #C11A00;
$color-a-3: #463FCD;
$color-a-4: #3498DB;
$color-a-5: #646464;
$color-a-6: #c3d79e;
$color-a-7: #bccee5;
$color-a-8: #a9290a;
$color-a-9: #0000ff;
