.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 50px;

  font-family: $font-main;

  max-width: 1200px;
  margin: 0 auto;

  background: $color-a-1;
}
