.site-navigation {
  margin: 30px auto;

  @at-root #{&}__items {
    display: flex;
    flex-direction: row;
  }

  @at-root #{&}__item {
    color: $color-a-2;

    &:not(:last-child) {
      margin-right: 20px;
    }

    a {
      @extend %button-blue;
      color: inherit;
      display: inline-block;
    }
  }
}
