@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

$default-font-size: 16px;

$font-main: 'Roboto', sans-serif;
$font-heading: 'Comfortaa', cursive;

@function rem($target, $context: $default-font-size) {
	@if $target == 0 { @return 0 }
	@return $target / $context + 0rem;
}
