
.vouchers {
  font-family: $contnetFont;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @at-root #{&}__head {
    text-align: center;
    background: $color-a-5;
    color: $color-a-3;
    font-weight: 100;
  }

  @at-root #{&}__cell {
    text-align: center;

    &.active {
      cursor: pointer;
    }

    .content {
      font-size: 14px;
    }

    .price {
      span {
        display: block;
      }
      span:first-child {
        text-decoration: line-through;
      }
      span:last-child {
        color: $color-a-2;
      }
    }

    .company {


      span:first-child {
        display: block;
        color: $color-a-4;
        font-weight: bold;

        margin-bottom: 5px;
      }
      span:last-child {
        color: $color-a-1;
      }
    }
  }
}
