
.vouchers {
  font-family: $font-main;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .public_fixedDataTableCell_main {
    background: transparent !important;
    border-color: black;
  }

  .public_fixedDataTableRow_highlighted {
    background-color: lighten($color-a-6, 10%) !important;
  }

  .public_fixedDataTableRow_main {
    background-color: lighten($color-a-7, 10%);
  }

  @at-root #{&}__head {
    text-align: center;
    background: darken($color-a-2, 10%);
    color: $color-a-1;
    font-weight: 400;
  }

  @at-root #{&}__column {
    .odd {
      background: $color-a-7;
    }
  }

  @at-root #{&}__cell {
    text-align: center;

    &.active {
      cursor: pointer;
    }

    .content {
      font-size: 14px;
    }

    .name {
      color: $color-a-2;
      font-weight: 400;
    }

    .price {
      span {
        display: block;
      }
      span:first-child {
        text-decoration: line-through;
      }
      span:last-child {
        color: $color-a-2;
      }
    }

    .company {

      span:first-child {
        display: block;
        color: $color-a-3;
        font-weight: bold;

        margin-bottom: 5px;
      }
    }
  }
}
