$deg: 183deg;
$color-a-6-grad: linear-gradient(#{$deg}, #{$color-a-6} 0%, #{lighten($color-a-6, 20%)} 52%, #{$color-a-6} 100%);
$color-a-6-grad-dark: linear-gradient(#{$deg}, #{$color-a-6} 0%, #{darken($color-a-6, 5%)} 52%,  #{$color-a-6} 100%);
$color-a-7-grad: linear-gradient(#{$deg}, #{$color-a-7} 0%, rgba(255,255,255,1) 52%, #{$color-a-7} 100%);

%base-button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 3px;
}

%button-green {
  @extend %base-button;

  border-bottom: solid 2px #9FA88D;
  background: $color-a-6-grad;

  &:hover {
    background: $color-a-6-grad-dark;
  }
}

%button-blue {
  @extend %base-button;

  border-bottom: solid 2px #8A98A9;
  background: $color-a-7-grad;

  &:hover {
    background: $color-a-6-grad;
  }
}
