%button-green {
  padding: 10px;
  border-radius: 5px;
  border-bottom: solid 2px #9FA88D;
  background: linear-gradient(183deg, rgba(195,215,158,1) 0%,rgba(231,239,216,1) 52%,rgba(195,215,158,1) 100%);
}

%button-blue {
  $color-1: #BCCEE5;
  $color-2: #D3E1B9;

  padding: 10px;
  border-radius: 5px;
  border-bottom: solid 2px #8A98A9;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 30%, #{rgba($color-1, 1)} 100%);

  &:hover {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 30%, #{rgba($color-2, 1)} 100%);
  }
}
